

* {
   background-attachment: fixed;
   font-family: Gill Sans, sans-serif; 
   font-size: 40px;
   color:rgb(255, 255, 255) 
   
}

body {
    
    background-image: linear-gradient(45deg, #a70045e7 35%, #ffd06b 35%, rgb(238, 95, 214));
}


* main {
    
    background-attachment: rgb(190, 11, 255);
    width: 500px;
    margin: auto;
    padding: 10px;
    
}
