* {
   font-family : salara, sans-serif; 
   font-size: 24px;
   font-weight: 400px;
   color: rgb(206, 109, 64);
   
}

* body {
    background-color: black;
}

* main {
    background-attachment: rgb(41, 33, 44);
    width: 500px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px, 3px, 5px rgba(13, 4, 17, 0.842);
}